.header {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #939393;
  position: relative;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-left: 15px;
}

.left-menu {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right-menu {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 50px;
}

.right-menu-options {
  display: inline;
}

.option {
  color: #666666;
  text-decoration: none;
  margin-left: 20px;
}

.title {
  color: #1C6EA4;
  font-family: fredericka, sans-serif;
  margin: 0;
}

a:hover {
  text-decoration: none;
}

@media (min-width: 48em) {
  .container {
    width: 70%;
    margin: 0;
    justify-content: normal;
  }
}
