<header class="header">

  <div class="uk-flex uk-flex-center uk-height-1-1">

    <div class="container">

      <div class="left-menu">
        <a routerLink="">
          <h1 class="title">DÓLAR-BLUE</h1>
        </a>
      </div>

      <div class="right-menu uk-visible@s">
        <div class="right-menu-options">
          <a class="option" routerLink="seccion/economía">Economía</a>
          <a class="option" routerLink="seccion/política">Política</a>
        </div>
      </div>

    </div>

  </div>

</header>
