<div class="main uk-flex uk-flex-center">

  <div class="container uk-grid uk-grid-medium" uk-grid>

    <div class="left-container uk-width-1-1@s uk-width-1-3@m">

      <div class="big-card card">
        <div class="title uk-flex uk-flex-center">
          <h1>{{mainDolar?.name}}</h1>
        </div>
        <div class="values uk-flex uk-flex-around uk-width-1-1">
          <div class="buy">
            <div class="label"><h2>Compra</h2></div>
            <div class="value"><h2>${{mainDolar?.buy}}</h2></div>
          </div>
          <div class="sell">
            <div class="label"><h2>Venta</h2></div>
            <div class="value"><h2>${{mainDolar?.sell}}</h2></div>
          </div>
        </div>
      </div>

    </div>

    <div class="right-container uk-width-1-1@s uk-width-2-3@m">

      <div class="small-card card uk-flex uk-flex-between" *ngFor="let dolar of dolars">
        <div class="title"><h1>{{dolar.name}}</h1></div>
        <div class="values">
          <div class="label"><h2>Compra</h2></div>
          <div class="value"><h2>${{dolar.buy}}</h2></div>
          <div class="label"><h2>Venta</h2></div>
          <div class="value"><h2>${{dolar.sell}}</h2></div>
        </div>
      </div>

    </div>

  </div>

</div>
