.card{
  min-height: 10vh;
  min-width: 30px;
  -webkit-box-shadow: 0 0 14px 0 rgba(112,112,112,1);
  -moz-box-shadow: 0 0 14px 0 rgba(112,112,112,1);
  box-shadow: 0 2px 5px 0 rgba(112,112,112,1);
  margin-bottom: 20px;
  border-top: 3px solid #1C6EA4;
  padding: 15px 0 0 0;
}

.container{
  width: 70vw;
  margin-top: 10vh;
}

.left-container {
  /*width: 35%;*/
}

.right-container {
  /*width: 63%*/
}

.big-card .title > h1{
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #8e8e8e;
}

.big-card .buy, .big-card .sell {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.big-card .label > h2 {
  font-size: 1.2rem;
  font-weight: 300;
  color: #8e8e8e;
}

.big-card .value > h2 {
  color: #1C6EA4;
  font-weight: 700;
}

.small-card {
  align-items: center;
  padding: 0 15px;
}

.small-card h1, .small-card h2{
  margin: 0;
}

.small-card .title {
  /*width: 45%;*/
}

.small-card .title > h1{
  font-size: 1.3rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #8e8e8e;
  justify-content: left;
}

.small-card .values{
  /*width: 55%;*/
  display: flex;
  justify-content: space-between;
}

.small-card .label > h2{
  font-size: 1.1rem;
  font-weight: 300;
  color: #8e8e8e;
  margin-right: 5px;
}

.small-card .value > h2{
  font-size: 1.3rem;
  color: #1C6EA4;
  font-weight: 700;
  margin-right: 5px;
}
