.tile.is-vertical{
  flex-direction: column;
}

.tile.is-parent {
  padding: 6px;
}

.tile.is-child {
  margin: 0;
}

.is-5 .is-child{
  box-shadow: 0 0 8px #00000021;
  background: white;
  border-top: 2px solid #1C6EA4;
  padding: 19px;
  font-size: 1.25rem;
  text-align: center;
}

.tile{
  align-items: stretch;
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  min-height: min-content;
}

.is-5 .title {
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 15px;
  color: #8e8e8e;
}

a{
  text-decoration: none;
  outline: 0;
}

.is-5 .values {
  display: flex;
  margin-top: 20px;
}

.is-5 .compra, .is-5 .venta{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.label {
  font-size: .875rem;
}

.val {
  font-size: 24px;
  color: #1C6EA4;
  font-weight: 700;
}

.is-5 .update {
  margin-top: 25px;
}

.is-5 .update .container{
  margin: auto;
}

.is-5 .update p {
  font-size: .6875rem;
  margin: 0;
}

.is-5 .update span {
  font-size: .6875rem;

}


.is-7 .is-child {
  box-shadow: 0 0 8px #00000021;
  border-top: 2px solid #1C6EA4;
  padding: 8px;
  display: flex;
}

.tile.is-child {
  margin: 0;
}

.tile>.tile.is-child:not(:last-child) {
  margin-bottom: 12px;
}

.is-7 .title {
  font-size: 14px;
  display: flex;
  align-items: center;
  width: 50%;
  font-weight: 700;
  text-transform: uppercase;
  color: #8e8e8e;
}

.is-7 .values {
  display: flex;
  width: 50%;
  justify-content: space-around;
}

.is-7 .label {
  text-align: center;
  font-size: .6875rem;
}

.is-7 .val {
  font-size: 1.125rem;
}


@media (min-width: 48em) {
  .is-9 {
    padding: 6px;
  }

  .tile.is-9{
    flex: none;
    width: 70%;
  }

  .tile:not(.is-child){
    display: flex;
  }

  .tile.is-5 {
    flex: none;
    width: 41.66667%;
  }

  .is-5 .title {
    margin-bottom: 40px;
  }

  .is-5 .values {
    display: flex;
    margin-top: 20px;
  }

  .is-5 .compra, .is-5 .venta {
    display: block;
  }

  .is-5 .label {
    font-size: 1.25rem;
    margin-bottom: 15px;
  }

  .is-5 .val {
    font-size: 2.3125rem;
  }

  .tile.is-7 {
    flex: none;
    width: 58.33333%;
  }

  .is-7 .tile.is-child {
    display: flex;
    flex-direction: column;
  }

  .is-7 .is-child {
    padding: 12px 16px;
  }

  .is-7 .title {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 15px;
    width: auto;
    margin: auto;
    color: #8e8e8e;
  }

  .is-7 .values {
    width: 100%;
  }

  .is-7 .compra, .is-7 .venta {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .is-7 .label {
    font-size: .6875rem;
  }

  .is-7 .val {
    font-size: 1.125rem;
  }


}

@media (min-width: 64em) {
  .is-7 .tile.is-child {
    display: flex;
    flex-direction: row;
  }

  .is-7 .tile.is-child .title {
    width: 45%;
  }

  .is-7 .tile.is-child .values {
    width: 55%;
  }


}
